{% if categories %}
<H1>EShop</H1>
{% for category in categories %}
	<H2>{{category.name}}</H2>
	{% for good in goods %}
		{% if good.category.id == category.id %}
		<p><a href="{% url 'goods:good_info' 1 %}"
		>{{good.name}}</a></p>
		{% endif %}
	{% endfor %}
{% endfor %}
{% else %}
<p>No goods available.</p>
{% endif %}