<div><H2>Info</H2>
<P>Good: {{good.name}}</P>
<P>Price: {{good.price}}</P>
<P>Count: {{rest}}</P>
</div>

<div><H2>Create order</H2>
<form method="POST" action="{% url 'goods:order_create' %}">{% csrf_token %}
	<input type="hidden" name="good_id" value="{{good.id}}"/>
	<div>Count: <input type="text" name="count"/></div>
	<div><input type="submit" value="Send"/></div>
</form>
</div>

<a href="{% url 'goods:index' %}">Return</a>